body {
    font-family:Arial, Helvetica, sans-serif
}
.container {
    height: 100px;
}
.logo {
    width: 45px;
    height: 100px;
    object-fit: contain;
    margin-left: -200px;
}
.container {
    width: 60%;
    margin-left: 20%;
   }
.right-column {
    width: 375px;
    margin-top: 100px; 
}
.left-column {
    width: 50%;
    margin-top: 80px;
    float: right;
}
.main-title {
    color:#1951FC;
    font-size: 210px;
    line-height: 210px;
    margin: 0;
}
.description:first-of-type {
    color: #212155;
    font-size: 23px;
    margin: 0;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: bold; 
}
.description {
    color: #A6A7AB;
    font-size: 18px;
    margin: 0;
    padding-top: 18px; 
}
.button {
    color: #000070;
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    padding-top: 100px;
    font-weight: bold;
    text-transform: uppercase; 
}